*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #cab6b6;
}
table{
    border: 7px solid white;
    border-collapse: collapse;
    margin:20px auto;
}
caption{
    font-size: 20px;
    padding: 8px 0;
    color: #31319b;
    font-weight: 600;
    background-color: white;
}
th{
    color:	#283070;
    font-size: 25px;
    border-left: 2px solid white;
    padding: 15px 25px;
    text-align: center;
}
tbody tr td{
    padding: 10px 25px;
    border-left:2px solid white;
    text-align: center;
}
.first-one{
    font-size: 20px;
    color: 	#c03018;
    font-weight: bold;
}
tbody td i.close{
    color: red;
}
tbody td i.check{
    color: green;
}
tbody tr:nth-child(odd){
    background-color:#f8facc;
}
 tr td .sign{
    background-color: #5a65a5;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 7px;
}
tr td .sign:hover{
    background-color: crimson;
}
